@import 'core/breakpoints';
@import 'core/normalize';
@import 'core/typography';
@import 'core/colors';
@import 'core/base';
@import 'core/animations';
@import 'core/mixins';

@import 'syntax/material-ocean';

@import 'components/categories';
@import 'components/article-tile';

@import 'pages/home-page';

@import 'templates/article-template';
@import 'templates/layout';
