.categories {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  z-index: 9;

  &.tile {
    right: initial;
    left: -1rem;
  }

  .category-tile {
    background: white;
    border-radius: 3px;
    width: auto;
    padding: 0 0.5rem;
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    margin-right: 0.5rem;
    transition: 0.3s transform $QuadEaseInOut;

    &:hover {
      transform: scale(1.02) translateY(-2%);
    }

    @include vHD {
      padding: 0 1rem;
    }

    picture {
      width: 1.5rem;
      height: 55%;
      margin-right: 0.25rem;

      img {
        max-height: 100%;
        object-fit: contain;
        max-width: 100%;
      }
    }

    span {
      font-size: 0.6rem;
      font-weight: 100;
      font-weight: 600;
    }
  }
}
